* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header__title {
  text-align: center;
  font-size: 50px;
}

.tabs {
  margin: 20px 15px;
}

.tabs__list {
  padding: 0;
  display: flex;
  width: 100%;
  margin: 0;
}

.tabs__list-item {
  list-style-type: none;
  flex: 1;
}


.tabs__link {
  display: inline-block;
  text-decoration: none;
  padding: 0.8rem;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.12) 0.3125rem 0.3125rem 0.9375rem;
  text-align: center;
  color: black;
  border: 1px solid #858b88;
}

.tabs__link:hover {
  background: #000;
  color: #fff;
  transition: all .5s;
}

.tabs__link[aria-selected] {
  box-shadow: rgba(0, 0, 0, 0.12) 0.3125rem 0.3125rem 0.9375rem;
  background: #000;
  color: #fff;
  border: 0;
}

.tabs__panel {
  border: 1px solid #858b88;
  box-shadow: rgba(0, 0, 0, 0.12) 0.3125rem 0.3125rem 0.9375rem;
  border-top: none;
  padding: 1.5rem;
}

.panel__title {
  text-align: center;
  font-size: 30px;
  margin: 10px;
}

.visitors {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  display: block;
}

.visitors__body {
  overflow-y: auto;
}

.visitors__tcell, .visitors__hcell {
  border: 1px solid #ddd;
  padding: 8px;
}

.visitors__row:nth-child(even){background-color: #f2f2f2;}

.visitors__row:hover {background-color: #ddd;}

.visitors__hcell {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.map, .visitors {
  height: 70vh;
  width: 100%;
}


/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  
  /* Force table to not be like tables anymore */
  .visitors__header, .visitors__body, .visitors__hcell, .visitors__tcell, .visitors__row { 
    display: block; 
    word-wrap:break-word;
	}
  
  /* Mobile table set up style */
  .visitors {
    table-layout:fixed;
  }

	/* Hide table headers (for accessibility) */
	.visitors__header .visitors__row { 
		position: absolute;
		top: -9999px;
		left: -9999px;
  }
  
  .visitors__header {
    display: none;
  }
	
	.visitors__row { border: 1px solid #ddd; margin: 1rem 0;}
	
	.visitors__tcell { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
    padding-left: 50%; 
    word-wrap:break-word;
	}
	
	.visitors__tcell:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
    /* white-space: nowrap; 
    so that lines are broken and spaced out multiline in mobile view of tables */
    word-wrap:break-word;
	}
	
	/*
	Label the data
	*/
	.visitors__tcell:nth-of-type(1):before { content: "#"; }
	.visitors__tcell:nth-of-type(2):before { content: "IP"; }
	.visitors__tcell:nth-of-type(3):before { content: "Country"; }
	.visitors__tcell:nth-of-type(4):before { content: "Region"; }
	.visitors__tcell:nth-of-type(5):before { content: "Postal Code"; }
	.visitors__tcell:nth-of-type(6):before { content: "Internet Provider"; }
	.visitors__tcell:nth-of-type(7):before { content: "Latitude"; }
	.visitors__tcell:nth-of-type(8):before { content: "Longitude"; }
	.visitors__tcell:nth-of-type(9):before { content: "Date"; }
}
